h1 Hola
form(id="create-file_form" enctype="multipart/form-data" action="/api/save" method="post")
    input(type="file" form="create-file_form" name="file_input")
    input(type="text" form="create-file_form" name="desc" value="Hola")
    div
        input(type="submit" form="create-file_form" value="Enviar")